{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}

<a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} btn button px-2 my-2 w-75 rounded-10" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
     <i class="fab fa-google mr-4"></i>
     <span class="aw">Sign in with </span>{{provider.name}}
</a>

{% endfor %}
