{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="main-image">
        <div class="row align-items-center vertical-center mx-auto">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="jumbotron text-center">
                    <h1 class="display-3">Welcome To AGame</h1>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper urna sed faucibus hendrerit. 
                        Aliquam fringilla lorem ex, quis porta orci dictum efficitur. Fusce at euismod sapien, eu dignissim lacus. 
                        Maecenas tristique metus ante, non ornare orci placerat vel. In libero nibh, egestas id feugiat non, feugiat id tellus. 
                        Nam magna elit, ullamcorper vel turpis eu, porta pulvinar nibh. Phasellus tristique laoreet elit nec tristique. 
                        Mauris iaculis lacus risus, et porttitor dolor pulvinar id. Nam faucibus orci in finibus consectetur.</p>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper urna sed faucibus hendrerit.</p>
                    <hr class="my-4">
                    <a class="btn btn-subscribe btn-lg" href="#" role="button">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1>Next section</h1>
    </div>
{% endblock %}

