{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="main-image">
        <div class="row vertical-center mx-auto">
            <div class="col-lg-6 mx-auto">
                <div class="jumbotron text-center">
                    <h1 class="display-4">Welcome To AGame</h1>
                    <hr class="my-4">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper urna sed faucibus hendrerit. 
                        Aliquam fringilla lorem ex, quis porta orci dictum efficitur.</p>
                    <hr class="my-4">
                    <a class="btn btn-subscribe btn-lg" href="#" role="button">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-agame-background">
        <h2 class="about-agame">What is AGame ?</h2>
        <div class="row about-section">
            <div class="col text-center about-box">
                <i class="fas fa-gamepad about-icon"></i>
                <h3 class="heading-3">Play Games</h3>
                <p class="paragraph">Play games from our exlusive library, picked just for you.</p>
            </div>
            <div class="col text-center about-box">
                <i class="fas fa-star about-icon"></i>
                <h3 class="heading-3">New Releases</h3>
                <p class="paragraph">The best New releases, here on day one!</p>
            </div>
            <div class="col text-center about-box">
                <i class="fas fa-tshirt about-icon"></i>
                <h3 class="heading-3">Merchandise</h3>
                <p class="paragraph">Some of the hottest merch, Get it here first.</p>
            </div>
            <div class="col text-center about-box">
                <i class="fas fa-calendar-alt about-icon"></i>
                <h3 class="heading-3">Cancel Anytime</h3>
                <p class="paragraph">Easily jump back in whenever you want.</p>
            </div>
        </div>
    </div>
    <div>
        <h1>Next section</h1>
    </div>

{% endblock %}

