select,
select option {
    color: #000;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.stripe-style-input {
    color: #000;
    border: 1px solid #1f2226;
    margin-top: 25px;
}

.profile-title {
    font-size: 25px;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* -------------------------------- Memberships Page */

.membership-title {
    font-size: 35px;
    color: #54D1F1;
}

.membership-p {
    font-size: 25px;
    color: #54D1F1;
}

.price {
    font-size: 20px;
    color: #7C71AD;
}

.Current-mem {
    font-size: 35px;
    color: #54D1F1;
}