html {
    height: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* -------------------------------- index page */

.main-image {
    background: url('/media/Background_image_home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
}

.nav-link {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    color: #54D1F1;
}

.nav-link:hover {
    color: #7C71AD;
}

.vertical-center {
    min-height: 100%;
    align-items: center;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.80);
    font-family: 'Roboto Slab', sans-serif;
    color: #54D1F1;
}

.btn-subscribe {
    background-color: #54D1F1;
}

.btn-subscribe:hover {
    background-color: #7C71AD;
}

.main-link {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 25px;
    color: #54D1F1;
}

/* -------------------------------- about us section */

.about-agame-background {
    background-color: #1f2226;
}

.about-agame {
    font-family: 'Roboto Slab', sans-serif;
    color: #54D1F1;
    font-size: 4em;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

.about-icon {
    font-size: 40px;
    color: #7C71AD;
    margin: 15px;
}

.heading-3 {
    font-size: 25px;
    color: #54D1F1;
    margin: 5px;
}

.paragraph {
    font-size: 15px;
    color: #54D1F1;
    margin: 5px;
}

.about-section {
    padding: 40px;
    padding-bottom: 70px;
}

.about-box {
    margin: 20px;
}

.carousel-styling {
    height: 500px;
}

.carousel{
    width: 100%;
    margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 100px;
    }
}