{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="main-title px-2">{% trans "Login" %}</h2>
<hr>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="paragraph mb-4">{% blocktrans with site.name as site_name %}Please Sign-up with one
of your existing third party accounts. Or,  <a class="allauth-link" href="{{ signup_url }}"> sign-up </a>
for a AGame account or login below if you already have an account:{% endblocktrans %}</p>

<div class="socialaccount_ballot mb-2">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

  <div class="login-or mt-3">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="paragraph mb-4">{% blocktrans %}If you have not created an account yet, then please
<a class="allauth-link" href="{{ signup_url }}">Sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn button" href="{% url 'home' %}">Home</a>
  <button class="btn button primaryAction" type="submit">{% trans "Login" %}</button>
  <p class="my-3">
    <a class="allauth-link secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
</form>

{% endblock %}
